# Visual voice dependency

librosa>=0.7.2
opencv-python==4.2.0.34
matplotlib
face_alignment
facenet-pytorch
torch==1.8.1
torchvision==0.9.1
mmcv

# Back-end dependency

Django
djangorestframework
azure-mgmt-compute
azure-mgmt-storage
azure-mgmt-resource
azure-keyvault-secrets
azure-storage-blob
azure-cognitiveservices-speech
azure-cognitiveservices-knowledge-qnamaker==0.3.0
azure-cognitiveservices-language-luis
azure-cognitiveservices-language-spellcheck
azure-ai-textanalytics==5.0.0
azure-cognitiveservices-search-autosuggest==0.1.0
azure-cognitiveservices-search-customsearch
azure-cognitiveservices-search-entitysearch
azure-cognitiveservices-search-imagesearch
azure-cognitiveservices-search-newssearch==2.0.0
azure-cognitiveservices-search-videosearch
azure-cognitiveservices-search-visualsearch==0.2.0
azure-cognitiveservices-search-websearch
azure-cognitiveservices-vision-computervision==0.3.0
azure-cognitiveservices-vision-contentmoderator==1.0.0
azure-cognitiveservices-vision-customvision==0.4.0
azure-cognitiveservices-vision-face
azure-ai-anomalydetector==3.0.0b2
azure-cognitiveservices-inkrecognizer==1.0.0b1
pandas
python-dotenv
pyshine
sounddevice
